$desktop-min-width: 1200px;
$desktop-max-width: 1440px;
$laptop-max-width: 1024px;
$laptop-min-width: 769px;
$tablet-min-width: 640px;
$mobile-min-width: 320px;

$light-gray: #f1f5f8;
$blue: #4690e2;
$red: #ee3f3e;
